[Unit]
Description=Kvmrun TCP proxy launcher for %I
After=network-online.target
Requires=network-online.target
StartLimitIntervalSec=0

[Service]
Type=notify
Restart=always
RestartSec=2
Environment=INSTANCE_NAME=%I
ExecStart=/usr/lib/kvmrun/proxy-launcher

[Install]
WantedBy=multi-user.target
