Source: kvmrun
Section: admin
Priority: extra
Maintainer: Sergey Zhuravlev <sergey@netangels.ru>
Build-Depends: cdbs, debhelper (>= 9), dh-systemd
Standards-Version: 3.9.4

Package: kvmrun
Architecture: any
Depends: ${shlibs:Depends}, qemu-kvm (>= 1:2.5), qemu-kvm (<< 1:3.2), runit-systemd, socat
Recommends: bash-completion, kvmrun-network, kvmrun-tools
Description: Interface for running KVM virtual machines under runit supervisor
 Kvmrun is a suite of tools that provide a command line interface
 for creating and managing virtual machines based on QEMU-KVM.
 .
 The primary goal of Kvmrun is to simplify as much as possible
 the most popular actions such as hot-plug/unplug devices,
 hot reconfiguration and live migration between the same type hosts.
